html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #0F172A;
    font-family: monospace;
    color: rgb(255, 255, 255);
    margin: 0;
    user-select: none;
    font-size: 16px;
}

a{
    color: inherit;
}

header{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 175px;
    margin: 5px;
    border-radius: 10px;
    background-color: #020617;
    box-shadow: 0px 0px 10px 0px #2DD4BF;
}

header #burger-menu{
    display: none;
}

header h2{
    text-align: center;
}

#contact-links{
    align-self: center;
}

#contact-links img{
    width: 30px;
}

.navigation{
    display: flex;
    flex-direction: column;
}

.navigation .nav-link{
    display: flex;
    height: 60px;
    align-items: center;
    gap: 10px;
}

.navigation .nav-link img{
    margin-left: 10px;
    height: 25px;
}

.navigation .nav-link:hover{
    background-color: #94a3b842;
    border-left: 3px solid #2dd4be;
    transition: background-color 0.2s linear, border-left 0.1s linear;
}

#sidenav{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 175px;
    margin: 5px;
    left: -180px;
    border-radius: 0 10px 10px 0;
    background-color: #020617;
    box-shadow: 0px 0px 10px 0px #2DD4BF;
    transition: left 0.3s ease;
}

#sidenav .nav-link{
    display: none;
}

#cross-small{
    margin: 35px 0 30px 30px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 250px;
}

.portfolio-sec{
    height: 100vh;
}


#projects td{
    border: 1px solid black;
    width: 150px;
    height: 2em;
    text-align: center;
}

/*For tablets*/
@media screen and (max-width: 900px){
    header{
        width: 90%;
        height: 100px;
        align-self: center;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
    }

    header h2{
        font-size: 30px;
    }

    header hr{
        display: none;
    }
    
    header #burger-menu{
        float: left;
        display: inline;
    }

    .navigation .nav-link{
        display: none;
    }

    #sidenav .nav-link{
        display: flex;
    }

    main{
        align-self: center;
        padding-top: 100px;
        width: 80vw;
        margin: 0;
    }
}


/*For Phones*/
@media screen and (max-width: 600px){

}