body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #0F172A;
    font-family: monospace;
    color: rgb(255, 255, 255);
    margin: 0;
    user-select: none;
    font-size: 16px;
}

a{
    color: inherit;
}

header{
    position:  fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 175px;
    margin: 5px;
    border-radius: 10px;
    background-color: #020617;
    box-shadow: 0px 0px 10px 0px #2DD4BF;
}

header h2{
    align-self: center;
}

#contact-links{
    align-self: center;
}

#contact-links img{
    width: 30px;
}

nav{
    display: flex;
    flex-direction: column;
}

nav .nav-link{
    display: flex;
    height: 60px;
    align-items: center;
    gap: 10px;
}

nav .nav-link img{
    margin-left: 10px;
    height: 25px;
}

nav .nav-link:hover{
    background-color: #94a3b842;
    border-left: 3px solid #2dd4be;
    transition: background-color 0.2s linear, border-left 0.1s linear;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 250px;
}


#projects td{
    border: 1px solid black;
    width: 150px;
    height: 2em;
    text-align: center;
}

/*For tablets*/
@media screen and (max-width: 900px){
    
}


/*For Phones*/
@media screen and (max-width: 600px){

}