html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #0F172A;
    font-family: monospace;
    color: rgb(255, 255, 255);
    margin: 0;
    user-select: none;
    font-size: 20px;
}

p{
    line-height: 2rem;
}

a{
    color: inherit;
}

header{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 175px;
    margin: 5px;
    border-radius: 10px;
    background-color: #020617;
    box-shadow: 0px 0px 10px 0px #2DD4BF;
}

header #burger-menu{
    display: none;
}

header h1{
    text-align: center;
    font-size: 30px;
}

#contact-links{
    align-self: center;
}

#contact-links img{
    width: 30px;
}

.navigation{
    display: flex;
    flex-direction: column;
}

.navigation .nav-link{
    display: flex;
    height: 60px;
    align-items: center;
    gap: 10px;
}

.navigation .nav-link img{
    margin-left: 10px;
    height: 25px;
}

.navigation .nav-link:hover{
    background-color: #94a3b842;
    border-left: 3px solid #2dd4be;
    transition: background-color 0.2s linear, border-left 0.1s linear;
}

#sidenav{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 175px;
    margin: 5px;
    left: -180px;
    border-radius: 0 10px 10px 0;
    background-color: #020617;
    box-shadow: 0px 0px 10px 0px #2DD4BF;
    transition: left 0.3s ease;
}
/*Make it so that the active link sticks out*/

#sidenav .nav-link{
    display: none;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 250px;
}

.portfolio-sec{
    margin-left: 175px;
    max-width: 1000px;
    width: 100%;
    min-height: 50vh;
}

.portfolio-sec h2{
    font-size: 45px;
    text-align: center;
    background-color: white;
    color: #020617;
    padding: 5px;
}

#projects #projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 700px;
    margin: 0 auto;
}

#projects article{
    width: 300px;
}

#projects h3{
    margin: 0;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
}

#projects img{
    margin: 0px;
    width: 300px;
    height: 300px;
    object-fit:contain;
}

#projects p{
    text-align: center;
}

#projects .p-link{
    display: flex;
    justify-content: center;
    gap: 20px;
}

#skills{
    display: flexbox;
}

#skills #skills-img{
    margin: 30 0;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

#skills-img img{
    height: 100px;
}

#experience #experience-timeline{
    display: flex-box;
    flex-direction: row;
    justify-content: center;
}

#experience .experience-item{
    background-color: #020617;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000000;
    margin-bottom: 20px;
}

#experience .experience-item i{
    font-size: smaller;
}

#experience .experience-item h4{
    text-align: center;
}


#contact .contact-card{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
}
#contact img{
    height: 50px;
}

/*For tablets*/
@media screen and (max-width: 900px){
    header{
        width: 90%;
        height: 100px;
        align-self: center;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px;
    }

    header h2{
        font-size: 30px;
    }

    header hr{
        display: none;
    }
    
    header #burger-menu{
        float: left;
        display: inline;
    }

    .navigation{
        display: none;
    }

    #sidenav{
        box-shadow: none;
    }  

    #sidenav .nav-link{
        display: flex;
    }

    main{
        align-self: center;
        padding-top: 100px;
        width: 80vw;
        margin: 0;
    }

    .portfolio-sec{
        margin-left: 0px;
    }

    .portfolio-sec p,li{
        font-size: 18px;
    }

    #experience .experience-item li{
        font-size: 16px;
    }
}


/*For Phones*/
@media screen and (max-width: 600px){
    h1{
       font-size: 25px;
    }

    #cross-small{
        margin: 35px 0 30px 20px;
    }

    #projects #projects-container{
        width: 300px;
    }

    #skills img{
        height: 70px;
    }

    #contact{
        font-size:large;
    }

    #contact .contact-card{
        flex-direction: column;
    }

    #contact img{
        height: 100px;
        align-self: center;
    }
}