body{
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    margin: 0;    
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
    align-items: center;
    position: fixed;
    top:0;
    background-color: black;
}

#logo{
    height: 50px;
    margin-left: 10px;
}

header nav a{
    text-decoration: underline;
    color: inherit;
    margin-right: 10px ;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-top: 69px;
}

h2{
    margin: 0;
}

#hero{
    background-image: url("img/img-mission-background.jpg");
    height: 700px;
    width: 100%;
    max-width: 1200px;
    align-content: center;
}

#hero-text{
    background-color: black;
}

#tea-of-month{
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
    margin-bottom: 50px;
    align-items: center;

}

.tea-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

#tea-of-month img{
    width: 300px;
    height: 200px;
}

figure{
    margin: 0;
}

figcaption{
    padding-top: 10px;
    font-weight: bold;

}

#locations{
    width: 100%;
    max-width: 1200px;
    background-image: url("img/img-locations-background.jpg");
    align-content: center;
    height: 500px;
}

#locations-list{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
}

.location{
    margin-top: 15px;
    width: 300px;
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: black;
    opacity: 1;
}

footer{
    margin-top: 5px;
    height: 200px;
}

#copyright{
    margin-left: 20px;
    justify-self: left;
}